@model User

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-black ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white mt-1">Информация об аккаунте</h2>
            </div>
        </div>
    </div>

    <div class="border border-secondary p-4 rounded-bottom shadow">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="@(string.IsNullOrEmpty(Model.ImageUrl)? "/images/users/free-icon-user-1077114.png": @Model.ImageUrl)"
                 alt="User Image" class="img-fluid rounded" style="height: 200px;" />
                <form method="post" asp-controller="Profile" asp-action="ChangeImage" enctype="multipart/form-data" id="imageForm">
                    <div class="text-center mb-3">
                        <input type="file" name="image" accept="image/*" class="form-control" id="fileInput" style="display:none" onchange="this.form.submit()">
                    </div>
                    <a href="javascript:void(0);" onclick="document.getElementById('fileInput').click();" class="btn btn-link">Сменить аватар</a>
                </form>
            </div>
            <div class="col-md-8">
                <h3 class="text-secondary border-bottom pb-3 mb-3">
                    Данные пользователя
                </h3>
                <p class="fw-semibold"><b>Имя:</b> @Model.UserName</p>
                <p class="fw-semibold"><b>Электронная почта:</b> @Model.Email</p>
                <p class="fw-semibold"><b>Телефон:</b> @Model.PhoneNumber</p>
                <p class="fw-semibold"><b>Роль:</b> @Model.Role</p>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <button id="changePasswordForm" class="btn btn-primary" style="max-height:50px">
                    Сменить пароль
                </button>

                <div id="passwordForm" class="mt-4" style="display: none;">
                    <h4 class="text-secondary">Смена пароля</h4>
                    <form method="post" asp-controller="Profile" asp-action="ChangePassword">
                        <div class="form-group mb-3">
                            <label for="currentPassword">Текущий пароль</label>
                            <input type="password" id="currentPassword" name="currentPassword" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="newPassword">Новый пароль</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-control" required />
                        </div>
                        <div class="form-group mb-3">
                            <label for="confirmPassword">Подтверждение пароля</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-success">Изменить пароль</button>
                        <button type="button" id="cancelPasswordForm" class="btn btn-danger">Отмена</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("changePasswordForm").addEventListener("click", function () {
            const form = document.getElementById("passwordForm");
            form.style.display = form.style.display === "none" ? "block" : "none";
        });

        document.getElementById("cancelPasswordForm").addEventListener("click", function () {
            const form = document.getElementById("passwordForm");
            form.style.display = "none";
        });
    </script>
}