@model Advertisement

<form method="post">
    <input asp-for="AdvertisementId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Удалить объявление</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Type, "Тип", new { @class = "p-0" })
            @Html.TextBoxFor(model => model.Type, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Text, "Текст объявления", new { @class = "p-0" })
            @Html.TextAreaFor(model => model.Text, new { @class = "form-control", rows = 5, disabled = "disabled" })
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Cost, "Стоимость", new { @class = "p-0" })
            @Html.TextBoxFor(model => model.Cost, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Issue.IssueId, "Номер выпуска", new { @class = "p-0" })
            @Html.TextBoxFor(model => model.Issue.IssueId, new { @class = "form-control", disabled = "disabled" })
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-danger form-control">Удалить</button>
            </div>
            <div class="col-3">
                @Html.ActionLink("Вернуться назад", "Index", "Advertisement", null, new { @class = "btn btn-outline-secondary form-control" })
            </div>
        </div>
    </div>
</form>