@model AdvertisementVM

<form method="post">
    @Html.HiddenFor(model => model.Advertisement.AdvertisementId)
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">@((Model.Advertisement.AdvertisementId != 0) ? "Обновить объявление" : "Добавить объявление")</h2>
            <hr />
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Advertisement.Type, "Тип", new { @class = "p-0" })
            @Html.TextBoxFor(model => model.Advertisement.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Advertisement.Type, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Advertisement.Text, "Текст объявления", new { @class = "p-0" })
            @Html.TextAreaFor(model => model.Advertisement.Text, new { @class = "form-control", rows = 5 })
        </div>

        <div class="mb-3 row p-1">
            @Html.LabelFor(model => model.Advertisement.Cost, "Стоимость", new { @class = "p-0" })
            @Html.TextBoxFor(model => model.Advertisement.Cost, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Advertisement.Cost, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Advertisement.IssueId" class="p-0">Выпуск</label>
            <select asp-for="Advertisement.IssueId" asp-items="Model.Issues" class="form-control">
                <option disabled selected>-- Выберите выпуск --</option>
            </select>
            <span asp-validation-for="Advertisement.IssueId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-3">
                <button type="submit" class="btn btn-primary form-control">
                    @((Model.Advertisement.AdvertisementId != 0) ? "Обновить" : "Добавить")
                </button>
            </div>
            <div class="col-3">
                @Html.ActionLink("Вернуться назад", "Index", "Advertisement", null, new { @class = "btn btn-outline-secondary form-control" })
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}